@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');


body{
  margin: 0;
  bottom:0;
  background-image: url("./assets/cafe_cinnamon.png");
  background-size: 100%;
  background-repeat: repeat;
  overflow-x: hidden;
}

*{
  font-family: "Pangolin", cursive;
  font-weight: 400;
  font-size: 36px;
  font-style: normal;
}
