.proper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 17.33vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.cell {
    display: inline-block;
    padding: 25px;
}

.hinge {
    animation: hinge 4s ease; 
}

.board {
    width: 272px;
    height: 144px;
    z-index: 2;
    background-image: url("../assets/panel.png");
    background-repeat:no-repeat;
    background-size: cover;
}

.board p{
    display:flex;
    justify-content: center;
    padding: 50px;
    color: white;
}

.board img {
    width: 256px;
    height: 128px;
}

@keyframes bounce {
    70% { transform: translateY(0%); }
    80% { transform: translateY(-15%); }
    90% { transform: translateY(0%); }
    95% { transform: translateY(-7%); }
    97% { transform: translateY(0%); }
    99% { transform: translateY(-3%); }
    100% { transform: translateY(0); }
}

@keyframes hinge {
    0% {
        transform: translateX(0px); 
    }
    100% {
        transform: translateX(480px);
    }
}
