/*lastchild*/

.selectionsproper{
    position: absolute;
    height:100vh;
    padding-top:100vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    width: 200px;
    border: 1px solid #555;
  }

ul li{
    padding-top: 100px;
}
ul li:hover{
    padding-top: 100px;
    background-color:black;
}

li a {
  display: flex;
  justify-content:center;
  align-items: center;
  color: #000000;
  text-decoration: none;
}

nav ul li:first-child a {
  color: yellow;
}

li {
  text-align: center;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}